# Exclude user data elements from the repo
worker.conf
*.db
*.log

# Don't include the developer run file
test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore MacOS thumbnail caching
.DS_Store