# Exclude user data elements from the repo
worker.conf
*.db
*.log
*.pem


# Don't include the develment stuff
test.py
*.orig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore MacOS thumbnail caching
.DS_Store