# Don't include real configurations
worker.conf

# Don't include the developer run file
devrun.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore MacOS thumbnail caching
.DS_Store